---
import Footer from "@/components/common/footer.astro";
import Header from "@/components/common/header.astro";
import BlogPostHeader from "@/components/markdown/blog-post-header";
import CodeCopy from "@/components/markdown/code-copy.astro";
import Prose from "@/components/markdown/md-prose.astro";
import { TableOfContents } from "@/components/markdown/table-of-contents";
import { TocMobile } from "@/components/markdown/toc-mobile";
import RootLayout from "@/layouts/RootLayout.astro";
import { getReadingTime, getWordCount } from "@/lib/utils";
import { getCollection } from "astro:content";


export async function getStaticPaths() {
    const blogEntries = await getCollection("articles");
    return blogEntries.map(entry => ({
        params: {slug: entry.slug},
        props: {entry}
    }));
}

const {entry} = Astro.props;
const {Content, headings} = await entry.render();
const wordCount = getWordCount(entry.body);
const readingTime = getReadingTime(entry.body);

---
<RootLayout title={entry.data.title}>
    <Header/>

    <div class="relative mt-8 mb-16">
        <BlogPostHeader
            title={entry.data.title}
            publishDate={entry.data.publish_date}
            coverImage={entry.data.cover_url}
            tags={entry.data.tags}
            wordCount={wordCount}
            readingTime={readingTime}
            client:load
        />
        <Prose>
            <Content/>
        </Prose>

        <aside class="hidden xl:block absolute left-full top-0 ml-16 h-full w-[240px]">
             <div class="sticky top-24">
                 <TableOfContents client:load headings={headings} />
             </div>
        </aside>
    </div>

    <TocMobile client:load headings={headings} />
    <CodeCopy />
    <Footer/>
</RootLayout>
