---
import ArticleListItem from "@/components/cards/article-list-item.astro";
import SectionHead from "@/components/common/section-head.astro";
import { getPublishedArticles, sortByDateDesc } from "@/lib/articles";
import Footer from "../../components/common/footer.astro";
import Header from "../../components/common/header.astro";
import RootLayout from "../../layouts/RootLayout.astro";

export async function getStaticPaths() {
    const allBlogPosts = await getPublishedArticles();
    const distinctCategories = [...new Set(allBlogPosts.map(post => post.data.category))].sort();
    return distinctCategories.map(category => ({
        params: {category: category},
        props: {category}
    }));
}

const {category} = Astro.props;
const allBlogPosts = await getPublishedArticles();
const sortBlogPosts = sortByDateDesc(allBlogPosts.filter(post => post.data.category === category));
---
<RootLayout title={`分类 / ${category}`} description={`分类「${category}」下的所有文章`}>
    <Header/>
    <div class="flex flex-col">
        <SectionHead title={`分类 / ${category}`} as="h1" />
        <div class="flex flex-col">
            {sortBlogPosts.map(post => (
                <ArticleListItem
                    title={post.data.title}
                    date={post.data.publish_date}
                    url={`/articles/${post.id}`}
                />
            ))}
        </div>
    </div>
    <Footer/>
</RootLayout>
