---
import RootLayout from "../layouts/RootLayout.astro";
import Header from "../components/common/header.astro";
import Footer from "../components/common/footer.astro";
import {getCollection} from "astro:content";
import {Separator} from "@/components/ui/separator";
import dayjs from "dayjs";
import {DATE_FORMAT} from "../constant/constants";

const allBlogPosts = await getCollection("articles", ({data}) => data.draft !== true);
const sortBlogPosts = allBlogPosts.sort((a, b) => new Date(b.data.publish_date) - new Date(a.data.publish_date));
const title: string = "归档";
---
<RootLayout title={title}>
    <Header/>
    <div class="flex flex-col pt-10 px-1.5">
        <h1 class="text-2xl font-extrabold text-primary">Articles/文章</h1>
        <Separator client:load/>
        <div class="flex flex-col pt-4 gap-y-6 md:gap-y-3 bg-background-foreground group">
            {sortBlogPosts.map(post => (
                    <div class="flex flex-col md:flex-row w-full h-10 items-start md:gap-x-4 md:items-baseline">
                        <span class="text-muted-foreground text-md"> {dayjs(post.data.publish_date).format(DATE_FORMAT)}</span>
                        <a class="underline underline-offset-2 text-lg" href={`/articles/${post.slug}`}>
                            {post.data.title}
                        </a>
                    </div>
            ))}
        </div>
    </div>
    <Separator className = "mt-8"/>
    <Footer/>
</RootLayout>