---
import RootLayout from "../layouts/RootLayout.astro";
import Footer from "../components/common/footer.astro";
import Header from "../components/common/header.astro";
import {getCollection} from "astro:content";
import {Separator} from "@/components/ui/separator";
import TagListItem from "@/components/tag-list-item.astro";

const title: string = "Tags";
const allBlogPosts = await getCollection("articles", ({data}) => data.draft !== true);
// 获取所有不同的 category
const distinctTags = new Set(allBlogPosts.flatMap(post => post.data.tags.map(tag => tag.trim())).sort());
---
<RootLayout title={title}>
    <Header/>
    <div class="flex flex-col mt-8 gap-y-4">
        <h1 class="text-sm font-bold text-muted-foreground uppercase tracking-wider border-b border-border/40 pb-2">TAGS</h1>
        <div class="flex flex-wrap gap-x-6 gap-y-3 pt-2">
            {[...distinctTags].map(tag => (
                <TagListItem
                    name={tag}
                    count={allBlogPosts.filter(post => post.data.tags.includes(tag)).length}
                    url={`/tags/${tag}`}
                />
            ))}
        </div>
    </div>
    <Footer/>
</RootLayout>