---
import RootLayout from "../layouts/RootLayout.astro";
import Footer from "../components/common/footer.astro";
import Header from "../components/common/header.astro";
import {getCollection} from "astro:content";
import {Separator} from "@/components/ui/separator";
import TagBadge from "@/components/tag-badge";

const title: string = "标签";
const allBlogPosts = await getCollection("articles", ({data}) => data.draft !== true);
// 获取所有不同的 category
const distinctTags = new Set(allBlogPosts.flatMap(post => post.data.tags.map(tag => tag.trim())).sort());
---
<RootLayout title={title}>
    <Header/>
    <h1 class="text-2xl font-bold pt-8">所有标签</h1>
    <Separator/>
    <div class="pt-2 flex flex-wrap justify-center gap-4">
        {[...distinctTags].map(tag => (
                <TagBadge name={tag} count={allBlogPosts.filter(post => post.data.tags.includes(tag)).length}
                          slug={`/tags/${tag}`}/>
        ))}
    </div>
    <Footer/>
</RootLayout>