---
import {getCollection} from "astro:content";
import dayjs from "dayjs";
import {DATETIME_FORMAT} from "../constant/constants";
const allBlogPosts = await getCollection("articles", ({data}) => {
    return data.draft !== true;
});

const latestBlogPosts = allBlogPosts
    .filter(article => !article.data.draft)
    .sort((a, b) => new Date(b.data.publishDate) - new Date(a.data.publishDate))
    .slice(0, 3);
---

<div class="flex flex-col">
    <!--   最新文章列表-->
    <h1 class="text-2xl font-bold pb-2">最新文章</h1>
    <section class="grid grid-cols-1 gap-4 grid-cols-1">
        {latestBlogPosts.map(post => (
                <article class="group relative overflow-hidden rounded-lg shadow-md transition-all hover:shadow-lg">
                    <a href=`/articles/${post.slug}` class="absolute inset-0 z-10">
                        <span class="sr-only">{post.data.title}</span>
                    </a>
                    <div class="bg-background dark:border-stone-800 rounded-lg border p-2 md:p-6">
                        <div class="mb-2 text-sm text-muted-foreground">{dayjs(post.data.publishDate).format(DATETIME_FORMAT)}</div>
                        <h3 class="mb-2 text-xl font-bold tracking-tight text-foreground group-hover:text-primary">
                            {post.data.title}
                        </h3>
                        <p class="hidden md:block text-muted-foreground">
                            {post.data.description}
                        </p>
                    </div>
                </article>))}
    </section>
</div>